<header>
    <div class="logo">
        <a class="logo-text" href = "../about">SHIP</a>
    </div>
    <div class="links">
        <a class="link-text font-Verdana" href = "../about">About</a>
        <a class="link-text font-Verdana" href = "../download">Download</a>
        <a class="link-text font-Verdana" href = "../changelog">Changelog</a>
    </div>
</header>