<header>
    <div class="logo">
        <p class="logo-text">SHIP</p>
    </div>
    <div class="links">
        <a class="link-text" href = "../about">About</a>
        <a class="link-text" href = "../download">Download</a>
        <a class="link-text" href = "../patches">Last patches</a>
    </div>
</header>