<main>
    <div class="mainContent">
        <div class="news">
            <span class="news-title">Game in development</span>
            <p class="desc">
                We are still trying to fix all the bugs so that it would be enjoyable to play
            </p>
            <img src="../static/img/smileface.png" class="news-image">
        </div>
        <div class="about">
            <div class="about-title">
                <strong>About the game</strong>
            </div>
            <p class="desc">SHIP - is a spaceship game where you will need to monitor the state of the engines, <br>
                oxygen levels, using an on-board computer that you control <br> using the assembler programming
                language.</p>
            <p class="desc"></p>
        </div>
    </div>
</main>