<main>
    <div class = "main-title">
        <strong>Development changelogs about SHIP</strong>
        <p class = "main-title-desc">All changelogs were got from Team's GitLab</p>
    </div>

    <div class = "main-patches">

        <div class = "patch">
            <div class="more-button-container">
                <input type="image" src="static/img/more.png" alt="more" class="more-button">
            </div>
            <div class = "patch-desc">
                <strong class = "patch-desc-title">Changelog by 09 Mar, 2025</strong>
                <ul class = "patch-desc-text">
                    <li>Refactored the project structure. Big instanced are now stored in the prefabs folder</li>
                </ul>
            </div>
        </div>

        <div class = "patch">
            <div class="more-button-container">
                <input type="image" src="static/img/more.png" alt="more" class="more-button">
            </div>
            <div class = "patch-desc">
                <strong class = "patch-desc-title">Changelog by 09 Mar, 2025</strong>
                <ul class = "patch-desc-text">
                    <li>Refactored the project structure. Big instanced are now stored in the prefabs folder</li>
                </ul>
            </div>
        </div>

        <div class = "patch">
            <div class="more-button-container">
                <input type="image" src="static/img/more.png" alt="more" class="more-button">
            </div>
            <div class = "patch-desc">
                <strong class = "patch-desc-title">Changelog by 09 Mar, 2025</strong>
                <ul class = "patch-desc-text">
                    <li>Refactored the project structure. Big instanced are now stored in the prefabs folder</li>
                </ul>
            </div>
        </div>

        <div class = "patch">
            <div class="more-button-container">
                <input type="image" src="static/img/more.png" alt="more" class="more-button">
            </div>
            <div class = "patch-desc">
                <strong class = "patch-desc-title">Changelog by 30 Apr, 2025</strong>
                <ul class = "patch-desc-text">
                    <li>Fixed an alignment error where the A argument was being AND-ed on 0x3f (aka 63), when according to the current specification all arguments are 5 bits at most.</li> <br>
                    <li>The assembler now outputs unknown errors upon catching an unknown label.</li><br>
                </ul>
            </div>
        </div>

        <div class = "patch">
            <div class="more-button-container">
                <input type="image" src="static/img/more.png" alt="more" class="more-button">
            </div>
            <div class = "patch-desc">
                <strong class = "patch-desc-title">Changelog by 26 Apr, 2025</strong>
                <ul class = "patch-desc-text">
                    <li>Refactored the project structure. Big instanced are now stored in the prefabs folder</li>
                </ul>
            </div>
        </div>

        <div class = "patch">
            <div class="more-button-container">
                <input type="image" src="static/img/more.png" alt="more" class="more-button">
            </div>
            <div class = "patch-desc">
                <strong class = "patch-desc-title">Changelog by 19 Apr, 2025</strong>
                <ul class = "patch-desc-text">
                    <li>Refactored unit tests</li> <br>
                    <li>Added an editor config</li> <br>
                    <li>Changed the SDK</li>
                </ul>
            </div>
        </div>

        <div class = "patch">
            <div class="more-button-container">
                <input type="image" src="static/img/more.png" alt="more" class="more-button">
            </div>
            <div class = "patch-desc">
                <strong class = "patch-desc-title">Changelog by 10 Apr, 2025</strong>
                <ul class = "patch-desc-text">
                    <li>Added CPU unit tests</li>
                </ul>
            </div>
        </div>

        <div class = "month-title">
            <strong>March</strong>
        </div>

        <div class = "patch">
            <div class="more-button-container">
                <input type="image" src="static/img/more.png" alt="more" class="more-button">
            </div>
            <div class = "patch-desc">
                <strong class = "patch-desc-title">Changelog by 29 Mar, 2025</strong>
                <ul class = "patch-desc-text">
                    <li>Now input is only handled if its unhandled.</li><br>
                    <li>Reverted some scene</li>
                </ul>
            </div>
        </div>

        <div class = "patch">
            <div class="more-button-container">
                <input type="image" src="static/img/more.png" alt="more" class="more-button">
            </div>
            <div class = "patch-desc">
                <strong class = "patch-desc-title">Changelog by 21 Mar, 2025</strong>
                <ul class = "patch-desc-text">
                    <li>Added interactable interface</li>
                </ul>
            </div>
        </div>

        <div class = "patch">
            <div class="more-button-container">
                <input type="image" src="static/img/more.png" alt="more" class="more-button">
            </div>
            <div class = "patch-desc">
                <strong class = "patch-desc-title">Changelog by 15 Mar, 2025</strong>
                <ul class = "patch-desc-text">
                    <li>Added HiDPI support</li> <br>
                    <li>Minor refactoring done</li> <br>
                    <li>Hotfix: file dialog is no more visible by default</li> <br>
                    <li>Added some set tests</li> <br>
                </ul>
            </div>
        </div>

        <div class = "patch">
            <div class="more-button-container">
                <input type="image" src="static/img/more.png" alt="more" class="more-button">
            </div>
            <div class = "patch-desc">
                <strong class = "patch-desc-title">Changelog by 10 Mar, 2025</strong>
                <ul class = "patch-desc-text">
                    <li>Project is ported to Gotod 4.4</li>
                </ul>
            </div>
        </div>

        <div class = "patch">
            <div class="more-button-container">
                <input type="image" src="static/img/more.png" alt="more" class="more-button">
            </div>
            <div class = "patch-desc">
                <strong class = "patch-desc-title">Changelog by 09 Mar, 2025</strong>
                <ul class = "patch-desc-text">
                    <li>Modified the character controller to have it behave a little more similar to quake</li>
                </ul>
            </div>
        </div>

        <div class = "month-title">
            <strong>February</strong>
        </div>

        <div class = "patch">
            <div class="more-button-container">
                <input type="image" src="static/img/more.png" alt="more" class="more-button">
            </div>
            <div class = "patch-desc" id = "patch-desc">
                <strong class = "patch-desc-title">Changelog by 28 Feb, 2025</strong>
                <ul class = "patch-desc-text">
                    <li>Added a code editor into the game</li> <br>
                    <li>Fixed a bug that offsetted label positions (making asm passes basically stateless)</li> <br>
                    <li>Fixed a bug that put immediate values in reverse order</li> <br>
                    <li>Added a somewhat basic highlighter</li>
                </ul>
            </div>
        </div>

        <div class = "patch">
            <div class="more-button-container">
                <input type="image" src="static/img/more.png" alt="more" class="more-button">
            </div>
            <div class = "patch-desc">
                <strong class = "patch-desc-title">Changelog by 26 Feb, 2025</strong>
                <ul class = "patch-desc-text">
                    <li>Bundled decls into a single file: Decls.cs</li> <br>
                    <li>Separated codegen into passes (IAsmPass-es)</li> <br>
                    <li>Added support for [register + next word], PICK n/[SP + n]</li> <br>
                </ul>
            </div>
        </div>

        <div class = "patch">
            <div class="more-button-container">
                <input type="image" src="static/img/more.png" alt="more" class="more-button">
            </div>
            <div class = "patch-desc">
                <strong class = "patch-desc-title">Changelog by 25 Feb, 2025</strong>
                <ul class = "patch-desc-text">
                    <li>Added codegen to assembler</li> <br>
                    <li>Modified spec to comply with new instruction format</li> <br>
                </ul>
            </div>
        </div>

        <div class = "patch">
            <div class="more-button-container">
                <input type="image" src="static/img/more.png" alt="more" class="more-button">
            </div>
            <div class = "patch-desc">
                <strong class = "patch-desc-title">Changelog by 22 Feb, 2025</strong>
                <ul class = "patch-desc-text">
                    <li>Scrapped the ANTLR4 assembler lexer & parser.</li> <br>
                    <li>Added the in-house parser.</li> <br>
                    <li>Added instructions.toml, a file which will soon store instruction information.</li> <br>
                </ul>
            </div>
        </div>

    </div>

</main>