<main>
    <div class = "patches-title">
        <strong>Patches in SHIP</strong>
    </div>

    <div class = "main-patches">

        <div class = "patch" id = "patch">
            <div class="rotate-btn" id="rotate-btn">
                <input type="image" src="static/img/more.png" alt="more" class="more-button" id="more-button">
            </div>
            <div class = "patch-desc" id = "patch-desc">
                <strong class = "patch-desc-title">1. Adding the SHIP</strong>
                <p class = "patch-desc-text">
                    1. Ship was added
                    2. Penis
                </p>
            </div>
        </div>

    </div>

</main>